name: ci
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Build
      run: make test all

    - name: Integration tests
      run: make integration

    - name: Cleanup
      if: always()
      run: make clean
